body {
    font-family: arial, sans-serif;
    font-size: 16px;
}

a {
    color: #349bdf;
}

figure {
    width: 220px;
    text-align: center;
    padding: 18px;
    border-width: 2px;
    border-color: #e0e4e8;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
}

.figure-cathedral {
    float: right;
    margin-left: 40px;
    margin-right: 0;
}

.figure-nasdaq {
    float: left;
    margin-right: 40px;
    margin-left: 0;
}

figcaption {
    font-size: 13px;
    margin-top: 10px;
}

p {
    line-height: 26px;
}

li {
    line-height: 22px;
}